html{
	background-color: black;
	text-align: center;
}
h1{
	color: white;
	font-family: Verdana;
	font-weight: 50px;
	text-align: center;
	
}
a{
	color: aquamarine;
	font-size: 16px;
}
.heading-1{
	font-family: Verdana;
	font-weight: 300;
	font-size: 42px;
}
.paragraph{
	color: grey;
	font-family: Verdana;

}
#copyright{
	text-align: right;
	
}
#camp{

	align-content: center;

}